# Questions

1.	Create a subset of this dataframe that contains all the observations but with no missing values. How many rows does this subset contain?<br>
2.	Create another subset of the original dataframe that contains unit prices greater than 1000 and ‘United Kingdom’ and ‘Australia’ countries. How many rows does this subset contain? <br>
3.	What is the earliest and latest dates of this dataframe? <br>
4.	Add another column, called ‘total’= Quantity * UnitPrice. Which product name has the highest mean total? What is its code?<br>
5.	Which weekday has the highest mean total? Which country has the highest maximum total? <br>

In [1]:
# Import libraries
import numpy as np
import scipy as sp
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df= pd.read_csv("./Online_Retail.csv",engine='python')

In [5]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

### 1) Create a subset of this dataframe that contains all the observations but with no missing values. How many rows does this subset contain?

In [6]:
# Before removing missing values
df.shape

(541909, 8)

In [8]:
df_no_missing_values = df.dropna()
df_no_missing_values.shape

(406829, 8)

In [192]:
print(f"New dataframe contains {df_no_missing_values.shape[0]:,} rows")

New dataframe contains 406,829 rows

### 2) Create another subset of the original dataframe that contains unit prices greater than 1000 and ‘United Kingdom’ and ‘Australia’ countries. How many rows does this subset contain?

In [9]:
df.columns

Index(['InvoiceNo', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'UnitPrice', 'CustomerID', 'Country'],
      dtype='object')

In [23]:
df_new = df[(df["UnitPrice"]>1000) & ((df["Country"]=="United Kingdom") | (df["Country"]=="Australia"))]

In [25]:
print(f"New dataset has {df_new.shape[0]} rows")

New dataset has 86 rows

### 3) What is the earliest and latest dates of this dataframe?

In [100]:
df.InvoiceDate = pd.to_datetime(df.InvoiceDate)

In [117]:
earliest_date = df.InvoiceDate.sort_values(ascending=True)[0]
latest_date = df.InvoiceDate.sort_values(ascending=False)[394697]

In [119]:
print(f"Earliest date is '{earliest_date.date()}' and the latest date is '{latest_date.date()}'")

Earliest date is '2010-01-12' and the latest date is '2011-12-10'

### 4) Add another column, called ‘total’= Quantity * UnitPrice. Which product name has the highest mean total? What is its code?

In [121]:
df['total'] = df['Quantity']*df['UnitPrice']

In [136]:
df.groupby('Description').agg('mean')['total'].sort_values(ascending=False).head(1)

Description
PICNIC BASKET WICKER 60 PIECES    19809.75
Name: total, dtype: float64

In [137]:
print(f"PICNIC BASKET WICKER 60 PIECES has highest mean total of 19809.75")

PICNIC BASKET WICKER 60 PIECES has highest mean total of 19809.75

In [147]:
prod_code = df[df["Description"]=="PICNIC BASKET WICKER 60 PIECES"]["StockCode"].head(1)[222680]

In [149]:
print(f"Product code of the product with highest mean total is '{prod_code}'")

Product code of the product with highest mean total is '22502'

### 5) Which weekday has the highest mean total? Which country has the highest maximum total

In [175]:
#Calculations for original dataframe
df['dayofweek'] = df.InvoiceDate.dt.weekday_name

In [165]:
df.groupby('dayofweek').agg('mean')['total']

dayofweek
Friday       18.541715
Monday       17.260235
Saturday     15.911533
Sunday       14.816595
Thursday     18.390632
Tuesday      20.782887
Wednesday    18.107758
Name: total, dtype: float64

Tuesday has highest mean total

In [182]:
df.groupby('Country').agg('max')['total'].sort_values(ascending=False).head(1)

Country
United Kingdom    168469.6
Name: total, dtype: float64

United Kingdom has the highest maximum total

###### Calculations for modified dataframe after dropping null values

In [176]:
#Calculations for modified dataframe after dropping null values
df_no_missing_values['total'] = df_no_missing_values['Quantity']*df['UnitPrice']
df_no_missing_values.InvoiceDate = pd.to_datetime(df_no_missing_values.InvoiceDate)
df_no_missing_values['dayofweek'] = df_no_missing_values.InvoiceDate.dt.weekday_name

C:\Users\sushrut.t\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\sushrut.t\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [174]:
df_no_missing_values.groupby('dayofweek').agg('mean')['total']

dayofweek
Friday       21.121057
Monday       19.776675
Saturday     17.818739
Sunday       15.857565
Thursday     21.867297
Tuesday      23.525568
Wednesday    20.727505
Name: total, dtype: float64

Tuesday has highest mean total

In [184]:
df_no_missing_values.groupby('Country').agg('max')['total'].sort_values(ascending=False).head(1)

Country
United Kingdom    168469.6
Name: total, dtype: float64

United Kingdom has the highest maximum total