## Data Structures and indexing

In [1]:
import numpy as mp
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

/Users/tendulkar/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/tendulkar/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/tendulkar/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)
/Users/tendulkar/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216, got 192
  return f(*args, **kwds)
/Users/tendulkar/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [2]:
%matplotlib inline

In [6]:
pd.options.display.max_rows=10
pd.options.display.float_format='{:,.2f}'.format

In [9]:
flights = pd.read_csv("./flights.csv",index_col=[0])

In [10]:
flights

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
1,2013,1,1,517.00,2.00,830.00,11.00,UA,N14228,1545,EWR,IAH,227.00,1400,5.00,17.00
2,2013,1,1,533.00,4.00,850.00,20.00,UA,N24211,1714,LGA,IAH,227.00,1416,5.00,33.00
3,2013,1,1,542.00,2.00,923.00,33.00,AA,N619AA,1141,JFK,MIA,160.00,1089,5.00,42.00
4,2013,1,1,544.00,-1.00,"1,004.00",-18.00,B6,N804JB,725,JFK,BQN,183.00,1576,5.00,44.00
5,2013,1,1,554.00,-6.00,812.00,-25.00,DL,N668DN,461,LGA,ATL,116.00,762,5.00,54.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336772,2013,9,30,nan,nan,nan,nan,9E,NaN,3393,JFK,DCA,nan,213,nan,nan
336773,2013,9,30,nan,nan,nan,nan,9E,NaN,3525,LGA,SYR,nan,198,nan,nan
336774,2013,9,30,nan,nan,nan,nan,MQ,N535MQ,3461,LGA,BNA,nan,764,nan,nan
336775,2013,9,30,nan,nan,nan,nan,MQ,N511MQ,3572,LGA,CLE,nan,419,nan,nan
336776,2013,9,30,nan,nan,nan,nan,MQ,N839MQ,3531,LGA,RDU,nan,431,nan,nan

In [14]:
flights.columns

Index(['year', 'month', 'day', 'dep_time', 'dep_delay', 'arr_time',
       'arr_delay', 'carrier', 'tailnum', 'flight', 'origin', 'dest',
       'air_time', 'distance', 'hour', 'minute'],
      dtype='object')

In [16]:
flights['year']

1         2013
2         2013
3         2013
4         2013
5         2013
          ...
336772    2013
336773    2013
336774    2013
336775    2013
336776    2013
Name: year, Length: 336776, dtype: int64

#### Both pd.DataFrame and pd.series have row labels which can be accessed with .index attribute

In [18]:
flights.index

Int64Index([     1,      2,      3,      4,      5,      6,      7,      8,
                 9,     10,
            ...
            336767, 336768, 336769, 336770, 336771, 336772, 336773, 336774,
            336775, 336776],
           dtype='int64', length=336776)

Read CSV Source : https://github.com/pandas-dev/pandas/blob/v0.21.1/pandas/io/parsers.py#L557-L709

## Indexing

#### Rules
1. uset __get_item__ (square brakcets)
2. use .loc for label based indexing 
3. use .iloc for position base indexing

In [19]:
first = flights.groupby("carrier").first()
first

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,tailnum,flight,origin,dest,air_time,distance,hour,minute
carrier,,,,,,,,,,,,,,,
9E,2013,1,1,810.00,0.00,"1,048.00",11.00,N915XJ,3538,JFK,MSP,189.00,1029,8.00,10.00
AA,2013,1,1,542.00,2.00,923.00,33.00,N619AA,1141,JFK,MIA,160.00,1089,5.00,42.00
AS,2013,1,1,724.00,-1.00,"1,020.00",-10.00,N594AS,11,EWR,SEA,338.00,2402,7.00,24.00
B6,2013,1,1,544.00,-1.00,"1,004.00",-18.00,N804JB,725,JFK,BQN,183.00,1576,5.00,44.00
DL,2013,1,1,554.00,-6.00,812.00,-25.00,N668DN,461,LGA,ATL,116.00,762,5.00,54.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UA,2013,1,1,517.00,2.00,830.00,11.00,N14228,1545,EWR,IAH,227.00,1400,5.00,17.00
US,2013,1,1,622.00,-8.00,"1,017.00",3.00,N807AW,245,EWR,PHX,342.00,2133,6.00,22.00
VX,2013,1,1,658.00,-2.00,"1,027.00",2.00,N627VA,399,JFK,LAX,361.00,2475,6.00,58.00
WN,2013,1,1,629.00,-1.00,721.00,-19.00,N273WN,4646,LGA,BWI,40.00,185,6.00,29.00
YV,2013,1,3,"1,428.00",-7.00,"1,539.00",-20.00,N509MJ,3750,LGA,IAD,47.00,229,14.00,28.00

## 1. __get_item__

In [20]:
first[["dep_delay","arr_delay"]]

         dep_delay  arr_delay
carrier
9E            0.00      11.00
AA            2.00      33.00
AS           -1.00     -10.00
B6           -1.00     -18.00
DL           -6.00     -25.00
...            ...        ...
UA            2.00      11.00
US           -8.00       3.00
VX           -2.00       2.00
WN           -1.00     -19.00
YV           -7.00     -20.00

[16 rows x 2 columns]

In [21]:
cols = ["dep_delay","arr_delay"]
first[cols]

         dep_delay  arr_delay
carrier
9E            0.00      11.00
AA            2.00      33.00
AS           -1.00     -10.00
B6           -1.00     -18.00
DL           -6.00     -25.00
...            ...        ...
UA            2.00      11.00
US           -8.00       3.00
VX           -2.00       2.00
WN           -1.00     -19.00
YV           -7.00     -20.00

[16 rows x 2 columns]

In [22]:
x = pd.DataFrame({"a":[1,2,3]})
x

   a
0  1
1  2
2  3

In [23]:
x.wrong = [3,4,5]

/Users/tendulkar/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  """Entry point for launching an IPython kernel.

In [24]:
x

   a
0  1
1  2
2  3

In [25]:
x["right"]=[1,2,3]

In [26]:
x

   a  right
0  1      1
1  2      2
2  3      3

## 2 Label based indexing

In [29]:
#indexing with rows
cols = ["AA","DL","US","WN"]
first.loc[cols]

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,tailnum,flight,origin,dest,air_time,distance,hour,minute
carrier,,,,,,,,,,,,,,,
AA,2013,1,1,542.00,2.00,923.00,33.00,N619AA,1141,JFK,MIA,160.00,1089,5.00,42.00
DL,2013,1,1,554.00,-6.00,812.00,-25.00,N668DN,461,LGA,ATL,116.00,762,5.00,54.00
US,2013,1,1,622.00,-8.00,"1,017.00",3.00,N807AW,245,EWR,PHX,342.00,2133,6.00,22.00
WN,2013,1,1,629.00,-1.00,721.00,-19.00,N273WN,4646,LGA,BWI,40.00,185,6.00,29.00

In [32]:
#indexing with rows and columns
first.loc[cols,["dep_time","arr_time"]]

         dep_time  arr_time
carrier
AA         542.00    923.00
DL         554.00    812.00
US         622.00  1,017.00
WN         629.00    721.00

## Boolean indexing

In [35]:
origin_counts = flights.dest.value_counts()
origin_counts

ORD    17283
ATL    17215
LAX    16174
BOS    15508
MCO    14082
       ...
HDN       15
SBN       10
ANC        8
LEX        1
LGA        1
Name: dest, Length: 105, dtype: int64

In [36]:
top5 = origin_counts.index[:5]
top5

Index(['ORD', 'ATL', 'LAX', 'BOS', 'MCO'], dtype='object')

In [37]:
mask = flights.dest.isin(top5)
mask

1         False
2         False
3         False
4         False
5          True
          ...
336772    False
336773    False
336774    False
336775    False
336776    False
Name: dest, Length: 336776, dtype: bool

In [38]:
flights.loc[mask,['origin','dest']]

       origin dest
5         LGA  ATL
6         EWR  ORD
9         JFK  MCO
10        LGA  ORD
13        JFK  LAX
...       ...  ...
336745    JFK  LAX
336752    JFK  LAX
336756    EWR  BOS
336764    JFK  MCO
336769    JFK  BOS

[80262 rows x 2 columns]

### Boolean indexing can be usefull becasue so many operations can produce an array of booleans
1. Null checker (.isnull(), .notnull())
2. container checks (.isin())
3. boolean aggrgations (.any(),.all())
4. comparisons(.gt(),.lt())

In [45]:
flights[flights.dep_time.isnull()]

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
839,2013,1,1,nan,nan,nan,nan,EV,N18120,4308,EWR,RDU,nan,416,nan,nan
840,2013,1,1,nan,nan,nan,nan,AA,N3EHAA,791,LGA,DFW,nan,1389,nan,nan
841,2013,1,1,nan,nan,nan,nan,AA,N3EVAA,1925,LGA,MIA,nan,1096,nan,nan
842,2013,1,1,nan,nan,nan,nan,B6,N618JB,125,JFK,FLL,nan,1069,nan,nan
1778,2013,1,2,nan,nan,nan,nan,EV,N10575,4352,EWR,CVG,nan,569,nan,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336772,2013,9,30,nan,nan,nan,nan,9E,NaN,3393,JFK,DCA,nan,213,nan,nan
336773,2013,9,30,nan,nan,nan,nan,9E,NaN,3525,LGA,SYR,nan,198,nan,nan
336774,2013,9,30,nan,nan,nan,nan,MQ,N535MQ,3461,LGA,BNA,nan,764,nan,nan
336775,2013,9,30,nan,nan,nan,nan,MQ,N511MQ,3572,LGA,CLE,nan,419,nan,nan
336776,2013,9,30,nan,nan,nan,nan,MQ,N839MQ,3531,LGA,RDU,nan,431,nan,nan